@use '@/styles' as *;

.modal {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    background-color: rgba($color-black, .1);
    animation-name: modal-fade-in;
    animation-duration: 300ms;

    &--is-long {
      padding: 0;
    }
  }

  &__box {
    min-width: 35rem;
    max-width: 100%;
    border-radius: .8rem;
    background-color: $color-white;
    box-shadow: 0 0 2rem rgba($color-black, .15);

    .modal--is-long & {
      max-height: 90%;
      overflow-y: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    color: $color-white;
    background-color: $color-primary;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__body {
    padding: 1.5rem;
    color: $color-primary-150;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 1.5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: $color-primary-5;
    border-top: 1px solid $color-primary-10;
  }
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
