@use '@/styles' as *;

.checkbox {
  & {
    display: inline-flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    &--is-disabled {
      cursor: default;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    border: 1px solid $color-primary;
    transition: box-shadow $default-anim-speed;

    &::after {
      content: "";
      width: .75rem;
      height: .75rem;
      border-radius: .25rem;
      background: none;
      transition: background-color $default-anim-speed;

      .checkbox--is-checked & {
        background-color: $color-primary;
      }

      .checkbox--is-disabled.checkbox--is-checked & {
        background-color: $color-primary-40;
      }
    }

    .checkbox:hover:not(.checkbox--is-disabled) &,
    .checkbox:focus-visible:not(.checkbox--is-disabled) & {
      box-shadow: 0 0 0 3px rgba($color-primary, .1);
    }

    .checkbox--is-disabled & {
      border-color: $color-primary-40;
    }
  }

  &__label {
    margin-left: .75rem;
    color: $color-primary-150;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
  }
}
