@use 'sass:list';
@use './variables' as vars;

@mixin trans($property, $value: vars.$default-anim-speed) {
  $is-list: list.length($property) > 1;
  
  @if not $is-list {
    transition: $property $value;
  } @else {
    transition-property: list.join($property, (), comma);
    transition-duration: $value;
  }
}
