$color-white: #FFF;

$color-black: #000;

$color-primary-150: #00243F;
$color-primary: #00487F;
$color-primary-90: #195A8C;
$color-primary-40: #4C7FA5;
$color-primary-30: #6691B2;
$color-primary-10: #E5EDF2;
$color-primary-5: #F2F6F9;

$color-secondary: #931867;

$color-red: #F4511E;
$color-red-90: rgba($color-red, .9);
$color-red-80: #F6744B;
$color-red-50: rgba($color-red, .5);
$color-red-10: #F5E5E0;

$color-green: #66A80F;
$color-green-80: #85B93F;
$color-green-10: #E7EEDE;

$default-anim-speed: 300ms;

$topbar-height: 6rem;
