@use '@/styles' as *;

.text-input, .text-area-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: $color-primary-150;
  background: none;
  font-weight: 500;

  &::placeholder {
    color: $color-primary-40;
  }
}

.text-area-input {
  padding: 1rem;
  resize: none;
}