@use '@/styles' as *;

.action-bar {
  & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0 4rem;
    background-color: $color-primary-10;
    box-shadow: 0 0 .5rem rgba($color-primary, .25);
  }

  &__title {
    color: $color-primary-150;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    & > * {
      margin-left: .5rem;
    }
  }

  @media print {
    display: none;
  }
}
