@use '@/styles' as *;

.dot {
  display: inline-flex;
  align-items: center;
}

.circle {
  width: .75rem;
  height: .75rem;
  border-radius: 50%;

  .dot--red & {
    background-color: $color-red-80;
  }

  .dot--green & {
    background-color: $color-green-80;
  }
}

.value {
  margin-left: .75rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}
