@use '@/styles' as *;

.tooltip {
  & {
    position: relative;
    display: inline-block;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: .5rem;
    color: $color-white;
    background-color: $color-primary-150;
    font-size: .75rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transform: translate(-50%, -100%);
    transition:
      opacity $default-anim-speed,
      transform $default-anim-speed;

    .tooltip:hover & {
      opacity: 1;
      transform: translate(-50%, calc(-100% - .5rem));
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 99;
      display: block;
      width: .5rem;
      height: .5rem;
      background-color: $color-primary-150;
      transform: translate(-50%, 50%) rotate(45deg);
    }
  }
}
