@use "@/styles" as *;

.test_env {
  height: 35px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: red;
  z-index: 999;
}
.sign-in {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $color-primary-5;
  }

  &__box {
    width: 35rem;
    padding: 2rem 4rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba($color-primary, 0.2);
  }

  &__logo {
    width: 15rem;
  }

  &__welcome {
    margin: 0;
    margin-top: 2rem;
    color: $color-primary-150;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__cta {
    margin: 2rem 0;
    color: $color-primary;
    font-size: 1.25rem;
    font-weight: 500;
  }
}
