@use '@/styles' as *;

.alert {
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1rem;

  &--severity-success {
    color: $color-green;
    background-color: $color-green-10;
  }

  &--severity-error {
    color: $color-red;
    background-color: $color-red-10;
  }
}
